 .headerWrapper {
	 position: relative;
	 z-index: 99;
	 opacity: 1;
	 transform: none;
	 position: sticky;
	 top: 0px;
	 transition: all 300ms ease;
}
 .headerWrapper .headerContainer {
	 position: relative;
	 justify-content: space-between;
	 font-weight: 500;
}
 .headerWrapper .headerContainer .name {
	 font-size: 1.5rem;
	 font-weight: 500;
}
 .headerWrapper .headerContainer .menu {
	 text-transform: uppercase;
	 font-size: 1rem;
	 list-style: none;
	 gap: 1.5rem;
	 cursor: pointer;
}
 @media (max-width: 640px), (max-width: 768px) {
	 .headerWrapper .headerContainer .menu {
		 position: absolute;
		 list-style: none;
		 gap: 2rem;
		 font-weight: 500;
		 flex-direction: column;
		 right: 0;
		 top: 3rem;
		 height: calc(100vh - 6.3rem);
		 width: 50%;
		 min-width: 15rem;
		 background: white;
		 padding: 2rem;
		 display: flex;
		 border-radius: 10px;
		 transition: all 200ms ease;
		 align-items: flex-start;
		 padding: 3rem;
		 justify-content: flex-start;
		 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	}
}
 .headerWrapper .headerContainer .menu li a {
	 color: inherit;
	 text-decoration: none;
}
 .headerWrapper .headerContainer .menu li:hover {
	 color: #286f6c;
}
 .headerWrapper .headerContainer .menu .phone {
	 gap: 1.2rem;
	 flex-wrap: wrap;
}
 .headerWrapper .headerContainer .menu .phone svg {
	 color: #286f6c;
	 background-color: white;
	 padding: 10px;
	 border-radius: 999px;
	 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
 .headerWrapper .headerContainer .menuIcon {
	 display: none;
}
 @media (max-width: 640px), (max-width: 768px) {
	 .headerWrapper .headerContainer .menuIcon {
		 display: block;
	}
}
 